/* .card {
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.eventList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
} */
.MuiCardMedia-media{
    height: 300px;
    width: 350px;
  
}
